#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        // Tap-dance: right thumb -- 1 tap = RALT, 2 taps = RGUI (Windows key)

        alt_gui: alt_gui {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RALT>, <&kp RGUI>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_cut {
            timeout-ms = <40>;
            bindings = <&kp X>;
            key-positions = <3 4>;
            layers = <0>;
        };

        combo_copy {
            timeout-ms = <40>;
            bindings = <&kp C>;
            key-positions = <15 16>;
            layers = <0>;
        };

        combo_paste {
            timeout-ms = <40>;
            bindings = <&kp V>;
            key-positions = <17 16>;
            layers = <0>;
        };

        combo_capslock {
            timeout-ms = <40>;
            bindings = <&kp CLCK>;
            key-positions = <0 11>;
            layers = <0>;
        };

        combo_capsword {
            timeout-ms = <40>;
            bindings = <&caps_word>;
            key-positions = <29 30>;
            layers = <0>;
        };

        combo_to_azerty {
            timeout-ms = <40>;
            bindings = <&to 0>;
            key-positions = <6 5>;
            layers = <0>;
        };

        combo_to_qwerty {
            timeout-ms = <40>;
            bindings = <&to 0>;
            key-positions = <17 18>;
        };

        combo_nav_toggle {
            timeout-ms = <40>;
            bindings = <&tog 3>;
            key-positions = <9 10 11>;
            layers = <0 1 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0 -- QWERTY (base)

        default_layer {
            bindings = <
&kp ESC             &kp Q  &kp W  &kp E  &kp R     &kp T        &kp Y      &kp U      &kp I    &kp O    &kp P     &kp BSPC
&mt LEFT_SHIFT TAB  &kp A  &kp S  &kp D  &kp F     &kp G        &kp H      &kp J      &kp K    &kp L    &kp SEMI  &kp RSHFT
&kp LCTRL           &kp Z  &kp X  &kp C  &kp V     &kp B        &kp N      &kp M      &kp SQT  &kp DOT  &kp FSLH  &kp DEL
                                  &to 1  &kp LALT  &kp SPACE    &kp ENTER  &kp RCTRL  &to 2
            >;
        };

        num_layer {
            bindings = <
&kp F1        &kp F2                             &kp F3                               &mt LA(F4) F4  &kp F5        &kp F6            &kp F7     &kp F8     &kp F9   &kp F10   &kp F11    &kp PRINTSCREEN
&kp N0        &kp NUMBER_1                       &kp NUMBER_2                         &kp NUMBER_3   &kp NUMBER_4  &kp N5            &kp N6     &kp N7     &kp N8   &kp N9    &kp MINUS  &kp EQUAL
&kp QUESTION  &mt LEFT_BRACKET LEFT_PARENTHESIS  &mt RIGHT_BRACKET RIGHT_PARENTHESIS  &kp AT_SIGN    &kp TILDE     &kp BSLH          &kp SLASH  &kp COMMA  &kp DOT  &kp SEMI  &kp SQT    &kp EXCL
                                                                                      &none          &kp LCTRL     &kp LEFT_SHIFT    &none      &kp RET    &none
            >;
        };

        fr_accents_signs {
            bindings = <
&kp INSERT       &kp HOME        &kp PAGE_UP    &kp DLLR       &kp LA(LBKT)  &kp LA(RBKT)    &mt KP_NUMLOCK KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp FSLH   &kp BSLH  &kp ESC
&kp DEL          &kp END         &kp PAGE_DOWN  &kp HASH       &kp LBKT      &kp RBKT        &kp KP_NUMBER_4             &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp LT     &kp GT    &kp PRCNT
&kp PRINTSCREEN  &kp LEFT_SHIFT  &kp LCTRL      &kp LS(MINUS)  &kp LPAR      &kp RPAR        &kp KP_NUMBER_1             &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp MINUS  &kp PLUS  &kp STAR
                                                &none          &none         &trans          &kp KP_NUMBER_0             &kp KP_DOT       &none
            >;
        };

        nav_layer {
            bindings = <
&none      &out OUT_TOG  &none       &none         &none         &none         &none      &none      &kp UP     &none      &none     &none
&none      &kp LGUI      &kp C_PREV  &kp C_PP      &kp C_NEXT    &none         &none      &kp LEFT   &kp DOWN   &kp RIGHT  &kp INS   &none
&kp LSHFT  &bt BT_PRV    &bt BT_NXT  &kp C_VOL_DN  &kp C_VOL_UP  &kp K_MUTE    &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp SLCK  &kp RSHFT
                                     &none         &none         &trans        &kp ENTER  &kp RET    &none
            >;
        };
    };
};

// Soft-off config

&soft_off {
    /delete-property/ split-peripheral-off-on-press;

    hold-time-ms = <3000>;
};
